<ul class="top-menu row-group">
    <li>
        <a onclick="alert('준비 중입니다.')">
            <div class="btn">
                <img src="images/quick-01.svg" alt="">
            </div>
            <div class="hover-btn">
                <p>상담예약</p>
            </div>
        </a>
    </li>
    <li>
        <a href="tel:02-543-2488">
            <div class="btn">
                <img src="images/quick-02.svg" alt="">
            </div>
            <div class="hover-btn">
                <p>02-543-2488</p>
            </div>
        </a>
    </li>
    <li>
        <a href="https://booking.naver.com/booking/13/bizes/839546?area=pll" target="_blank">
            <div class="btn">
                <img src="images/quick-03.svg" alt="">
            </div>
            <div class="hover-btn">
                <p>네이버 예약</p>
            </div>
        </a>
    </li>
    <li>
        <a href="http://pf.kakao.com/_xhyxbxnxj" target="_blank">
            <div class="btn">
                <img src="images/quick-04.svg" alt="">
            </div>
            <div class="hover-btn">
                <p>카카오 상담</p>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="xi-arrow-up"></i>
            <p>TOP</p>
        </a>
    </li>
</ul>